<div class="text-center top-height">
    <h1>What <span class="bestow">BESTOW</span> is all about</h1>
<p>
    <span class="bestow">BESTOW</span> is a community where you can lend and borrow
     the everyday items you need without having to purchase them.
     When you are done with the items, you simply return them to the owner! 
     <span class="bestow"> BESTOW</span> is a community built on sharing and trust. 
</p>



</div>

        <a href="/bestow" class="">Home</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/bestow/signup">Sign up</a>
        <span class="invisible">-</span>|<span class="invisible">-</span> 
        <a href="/bestow/login" class="">Login</a>

