<div class="text-center top-height">
    <h1>What <span class="bestow">BESTOW</span> is all about</h1>




</div>

        <a href="/bestow" class="">Home</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/bestow/signup">Sign up</a>
        <span class="invisible">-</span>|<span class="invisible">-</span> 
        <a href="/bestow/login" class="">Login</a>

