<h1 class="top-height">Explore <span class="bestow">Bestow</span></h1>


<div>
     <h3><a href='#' class="explore">Furniture</a></h3>   
</div>

<div>
     <h3><a href='#' class="explore">Home Appliances</a></h3>   
</div>

<div>
     <h3><a href='#' class="explore">Instruments</a></h3>   
</div>

<div>
     <h3><a href='#' class="explore">Electronics</a></h3>   
</div>

<div>
     <h3><a href='#' class="explore">Outdoor Equipment</a></h3>   
</div>

<br>

 <a href="/bestow/inventory" class="">Inventory</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/bestow/profile/{{user._id}}">Profile</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/bestow/logout" class="">Logout</a>


