    <h1 class="text-center top-height">Please Login!</h1>
        <br>
    <form action="/login" method="post">
    
    <label for="username">Username</label>
        <br>
    <input id="username" type="text" name="username" placeholder="superKing75">
        <br><br>
    <label for="password">Password</label>
        <br>
    <input id="password" type="password" name="password" placeholder="password">
        <br><br>
    <button class="btn btn-warning b-color">Login</button>
        <br><br>
    {{#if message}}
        <div class="message">
        {{message}}
        </div>
    {{/if}}
        <br>
    
        <a href="/about" class="">About</a><span class="invisible">--</span>|<span class="invisible">-</span> <a href="/signup">Sign up</a>

    </form>



