<h1>Error!</h1>
<h2>There was an error on the server! Check the console!</h2>


 <a href="/" class="">Home</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/signup">Sign up</a>
        <span class="invisible">-</span>|<span class="invisible">-</span> 
        <a href="/login" class="">Login</a>