


<div class="text-center top-height">
    <h1>Welcome to <br><br>
    <span class="bestow">BESTOW!</span></h1>
    <br><br>
    <p>Please <a href="/bestow/signup" class="">Signup</a> or <a href="/bestow/login">Login</a>
    <br>to continue</p>
</div>