
<div class="top-height">
<h1 class="underline">My Stuff</h1>
<br>
<ul>
    {{#each products}}
    <div >
        
        <h4><li ><img src={{ this.image }}  class="item-display" alt="furniture"  class="text-left" width="85" height="85"><br><br>
        <a class="move-a-left" href="/inventory/{{this._id}}">{{ this.productname }}</a></li></h4>
            </div>
    {{/each }}
</ul>



<br>
<a href="/inventory/create">Add Stuff</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/profile/{{user._id}}">Profile</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/logout" class="">Logout</a>

</div> 