
<div class="top-height">
<h3 class="underline">My Stuff</h3>

<br>
<ul>
    {{#each products}}
        <li ><a class="move-a-left" href="/bestow/inventory/{{this._id}}">{{ this.productname }}</a></li>
    {{/each }}
</ul>



<br>
<a href="/bestow/inventory/create">Add Stuff</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/bestow/profile/{{user._id}}">Profile</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/bestow/logout" class="">Logout</a>

</div>