<h1 class="top-height">Inventory</h1>
    <br>
<div>
<h3>My Stuff</h3>
</div>
    <br>
{{!-- <div class="input_fields_wrap">
    <button class="add_field_button">Add More Fields</button>
    <br><br>
</div> --}}


        <a href="/bestow/profile">Profile</a>
        <span class="invisible">-</span>|<span class="invisible">-</span> 
        <a href="/bestow/logout" class="">Logout</a>