
<div class="top-height">
   
    <h1 class="underline">Add Stuff</h1>
        <br>
    <form action="/inventory/create" method="post" enctype="multipart/form-data">
        
        <label for="">Product Name:</label>
            <br>
        <input type="text" name="productName" id="">
            <br><br>
        <label for="">Product type:</label>
            <br>
        <select name="types">
            <option value="Electronics">Electronics</option>
            <option value="Furniture">Furniture</option>
            <option value="Home Appliances">Home Appliances</option>
            <option value="Instruments">Instruments</option>
            <option value="Outdoor Equipment">Outdoor Equipment</option>
        </select>
            <br><br>
        <label for="">Condition: </label>
            <br>
        <select name="condition">
            <option value="New">New</option>
            <option value="Very Good">Very Good</option>
            <option value="Good" selected>Good</option>
            <option value="Fair">Fair</option>
            <option value="Poor">Poor</option>
        </select>
            <br><br>
        <label for="">Price: $</label>
        
        <input type="number" name="productPrice" min="1.00" step="0.00" max="3000" value="1.00">
            <label>per day</label>
             <br><br>
        <label for="">Owner:</label>
            <br>
        <input type="text" name="productOwnerName" id="productOwnerName" required>
            <br><br>
        <label for="">Zip Code: </label>
            <br>
        <input type="text" name="productAreaCode" id="" minlength="5"> 
            <br><br>
        <label for="">Product Image:</label>
            <br>
            <div class="text-center">
        <input  class="move-left" type="file" name="productImage" id="image" required>
            </div>
            {{!-- <br><br>
        <label for="">Description:</label>
            <br>
        <textarea name="productDescription" id="" cols="25" rows="2"></textarea> --}}
            <br><br>
        <button type="submit" class="btn btn-warning b-color">Create</button>
        

    </form>

    <br><br>

<a href="/inventory" class="">My Stuff</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/profile/{{user._id}}">Profile</a>
        <span class="invisible">--</span>|<span class="invisible">-</span> 
        <a href="/logout" class="">Logout</a>

</div>
